@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Oxygen', sans-serif;
	background-color: #0d0d0d;
}

a {
	color: #bfb0a3;
	text-decoration: none;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #d9c9ba;
}

* {
	box-sizing: border-box;
}
