@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Oxygen', sans-serif;
	background-color: #0D0D0D;
}

a {
	color: #dddddd;
	text-decoration: none;
	font-weight: 700;
}

a:hover {
	color: #241E26;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #dddddd;
}

* {
	box-sizing: border-box;
}
